# Ignore node_modules
node_modules

# Ignore logs
*.log

# Ignore Dockerfile and docker-compose override files
Dockerfile*
docker-compose.override.yml

# Ignore build artifacts
dist
build

# Ignore environment files
.env
.env.*

# Ignore temporary files
*.tmp
*.swp
*.bak
*.old